<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           https://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 手动注册bean -->
    <bean id="userService" class="com.xinx.service.impl.UserServiceImpl"/>

    <!-- 配置aop，需要导入aop约束 -->

    <!-- 方式一：原生spring API -->
    <bean id="myLog" class="com.xinx.aop.MyLog"/>
    <!--<aop:config>-->
    <!--    &lt;!&ndash; 切入点，可配置多个 &ndash;&gt;-->
    <!--    &lt;!&ndash; execution(修饰符，返回类型，类名，方法名，参数)&ndash;&gt;-->
    <!--    <aop:pointcut id="pointcut" expression="execution(* com.xinx.service.impl.UserServiceImpl.*(..))"/>-->
    <!--    &lt;!&ndash; 执行通知 &ndash;&gt;-->
    <!--    <aop:advisor advice-ref="myLog" pointcut-ref="pointcut"/>-->
    <!--</aop:config>-->

    <!-- 方式二：自定义切面 -->
    <!--<bean id="myPointcut" class="com.xinx.aop.MyPointcut"/>-->
    <!--<aop:config>-->
    <!--    &lt;!&ndash; 切面，应用自定义类&ndash;&gt;-->
    <!--    <aop:aspect ref="myPointcut">-->
    <!--        &lt;!&ndash; 切入点，可配置多个 &ndash;&gt;-->
    <!--        <aop:pointcut id="pointcut" expression="execution(* com.xinx.service.impl.UserServiceImpl.*(..))"/>-->
    <!--        &lt;!&ndash; 自行配置要在何时执行自定义方法 &ndash;&gt;-->
    <!--        &lt;!&ndash; 前置方法 &ndash;&gt;-->
    <!--        <aop:before method="MyBefore" pointcut-ref="pointcut"/>-->
    <!--        &lt;!&ndash; 后置方法 &ndash;&gt;-->
    <!--        <aop:after method="MyAfter" pointcut-ref="pointcut"/>-->
    <!--        &lt;!&ndash; ... &ndash;&gt;-->
    <!--    </aop:aspect>-->
    <!--</aop:config>-->

    <!-- 方式三：注解方式 -->

    <!-- 开启注解驱动-->
    <context:annotation-config/>
    <!-- 开启包路径扫描 -->
    <context:component-scan base-package="com.xinx.*"/>
    <!-- 开启切面自动代理 -->
    <aop:aspectj-autoproxy/>

</beans>